<section id="product1" class="section-p1">
    <h3>Commissions</h3>
      <div class= "product-container">
  
        <div class="pro">
            <img src="assets/image/products/p7.png" alt="">
            <div class="des">
              <span>Commission</span>
              <h5>Sketch</h5>
                <h6>$30.00</h6>
            </div>
            <div class="cart">
              <a href="#"><img src="assets/image/cart.png"></a>
            </div>
          </div>

        <div class="pro">
          <img src="assets/image/products/f9.jpg" alt="">
          <div class="des">
            <span>Commission</span>
            <h5>Head</h5>
              <h6>$60.00</h6>
          </div>
          <div class="cart">
            <a href="#"><img src="assets/image/cart.png"></a>
          </div>
        </div> 
  
        <div class="pro">
          <img src="assets/image/products/f3.jpg" alt="">
          <div class="des">
            <span>Commission</span>
            <h5>Half Body</h5>
              <h6>$70.00</h6>
          </div>
          <div class="cart">
            <a href="#"><img src="assets/image/cart.png"></a>
          </div>
        </div> 
  
        <div class="pro">
          <img src="assets/image/products/f2.jpg" alt="">
          <div class="des">
            <span>Commission</span>
            <h5>Full Body</h5>
              <h6>$100.00</h6>
          </div>
          <div class="cart">
            <a href="#"><img src="assets/image/cart.png"></a>
          </div>
        </div> 
  
      </div>
  </section>
