<footer class="section-p1">
    <div class="col">
      <img class="logo" src="assets/image/logo.png" alt="">
      <h6>Contact</h6>
      <h3><strong>Address: </strong>123 Circle Rd New York, New York</h3>
      <h3><strong>Phone: </strong>+1(123)456-7890</h3>
      <h3><strong>Email: </strong>angell.business@gmail.com</h3>
      <h3><strong>Business Days: </strong>Mon-Sat</h3>
  
      <div class="follow">
        <h6>Follow us: angell</h6>
        <div class="icon">
          <img src="assets/image/facebook-logo.png" alt="">
          <img src="assets/image/insta-logo.png" alt="">
          <img src="assets/image/yt-logo.png" alt="">
        </div>
      </div>
    </div>
  
      <div class="col">
        <h6>About</h6>
        <a href="#">About Us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact Us</a>
      </div>
  
      <div class="col">
        <h6>My Account</h6>
        <a href="#">Sign In</a>
        <a href="#">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track My Order</a>
        <a href="#">Help</a>
      </div>
  
      <div class="col install">
        <h6>Insta App</h6>
        <h3>From App Store or Google Play</h3>
        <div class="row">
          <img src="assets/image/apple.png" alt="">
          <img src="assets/image/google-play.png" alt="">
        </div>
        <h3>Payment Methods</h3>
        <img src="assets/image/payment-methods.jpg" alt="">
      </div>
  
      <div class="copyright">
        <h6>© 2022. HTML/CSS Shopping Website</h6>
      </div>
    </footer>