<section id="product1" class="section-p1">
    <h3>New Arrivals</h3>
      <div class= "product-container">
  
        <div class="pro">
          <img src="assets/image/products/f1.jpg" alt="">
          <div class="des">
            <span>Art Print</span>
            <h5>Learning to Fly Print 12"x18"</h5>
              <h6>$17.00</h6>
          </div>
          <div class="cart">
            <a href="#"><img src="assets/image/cart.png"></a>
          </div>
        </div>  
  
        <div class="pro">
          <img src="assets/image/products/card-set/red-joker.png" alt="">
          <div class="des">
            <span>Cards</span>
            <h5>Playing Cards</h5>
              <h6>$25.99</h6>
          </div>
          <div class="cart">
            <a href="#"><img src="assets/image/cart.png"></a>
          </div>
        </div> 
  
        <div class="pro">
          <img src="assets/image/products/f4.png" alt="">
          <div class="des">
            <span>Art Print</span>
            <h5>Scenery 18"x12"</h5>
              <h6>$17.00</h6>
          </div>
          <div class="cart">
            <a href="#"><img src="assets/image/cart.png"></a>
          </div>
        </div> 
  
        <div class="pro">
          <img src="assets/image/products/f8.png" alt="">
          <div class="des">
            <span>Sticker</span>
            <h5>Athena with Owl Sticker</h5>
              <h6>$5.25</h6>
          </div>
          <div class="cart">
            <a href="#"><img src="assets/image/cart.png"></a>
          </div>
        </div> 
  
      </div>
  </section>